extends layout 

block content 
  .main
    // TOP
    .top
      h1 Dashboard
      p Business overview for today
    // CARDS
    .cards
      .card
        h3 Stock Value
        h2 64.2M UGX
      .card
        h3 Sales Today
        h2 0.0M UGX
      .card
        h3 Active Deposits
        h2 3
      .card
        h3 Supplier Dues
        h2 9.2M UGX
      .card
        h3 Credit Payments 
        h2 1.2M UGX
     
    // RECENT SALES
    .section
      h3 Recent Sales
      .item
        span Kampala Hardware Ltd (2 items)
        span 2.68M UGX
      .item
        span John Mukasa (2 items)
        span 0.95M UGX
      .item
        span Builders Corner (2 items)
        span 0.95M UGX
    // LOW STOCK
    .section
      h3 Low Stock Alert
      .item
        span Roofing Nails (5kg)
        span 48 pack
      .item
        span Wheelbarrow Standard
        span 25 piece
      .item
        span Wire Mesh
        span 38 roll
      .item
        span Barbed Wire High Tensile
        span 42 roll
      .item
        span Barbed Wire Low Tensile
        span 35 roll
    // CATEGORIES
    .section
      h3 Stock by Category
      .categories
        .cat
          | Cement
          br
          | 24.0M
        .cat
          | Iron Bars
          br
          | 15.7M
        .cat
          | Nails
          br
          | 3.8M
        .cat
          | Equipment
          br
          | 2.4M
        .cat
          | Wire
          br
          | 7.8M
        .cat
          | Iron Sheets
          br
          | 10.6M
