doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Record Deposit Form
  link(rel='stylesheet' href='/css/deposit_form.css')
.form-card
  h2 Record New Deposit
  form(action='/deposited' method='post')
    .input-group
      label(for='name') Name of Customer
      input#name.amount-input(type='text' name='name' placeholder='John Doe' required='')
      // <div class="read-only-box">David Okello</div>
    .input-group
      label(for='amount') Current Total Amount
      input#amount.amount-input(type='text' name='total' placeholder='eg 456,000' required='')
      // <div class="read-only-box">456,000 UGX</div>
    .input-group
      label(for='new-amount') Amount to Deposit (UGX)
      input#new-amount.amount-input(type='number' name='amount' placeholder='e.g. 50000' required='')
    .input-group
      label Select Payment Method
      .method-container
        .method-option
          input#cash(type='radio' name='payment' value='cash' checked='')
          label(for='cash') Cash
        .method-option
          input#momo(type='radio' name='payment' value='momo')
          label(for='momo') Mobile Money
        .method-option
          input#bank(type='radio' name='payment' value='bank')
          label(for='bank') Bank Transfer
    .form-actions
      button.btn.btn-cancel(type='button') Cancel
      button.btn.btn-submit(type='submit') Record Deposit
