doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Nyondo General Hardware
  link(rel='stylesheet' href='/css/index.css')
.hero
  .overlay
    h1 Nyondo General Hardware
    p.location &#x1F4CD; Nansana, Wakiso
    p.motto &quot;Uganda&apos;s trusted hardware partner&quot;
    br
    .buttons
      a.btn.primary(href='/registration') Create Account
      br
      br
      br
      p Already have an account?
      br
      br
      a.btn(href='/signin') Login
