doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Supplier edit
  link(rel='stylesheet' href='/css/stock_reg_form.css')
.form-container
  h2 Supplier edit form
  form(action=`/supplier/edit/${stock._id}` method='post')
    .row
      .field
        label(for='factoryname') Factory Name
        input#factoryname(type='text' name="factoryame" value=stock.factoryname placeholder='e.g Richard')
      .field
        label(for='suppliername') Supplier Name
        input#customername(type='text' name="suppliername" value=stock.suppliername placeholder='e.g Hima')
    .row
      .field
        label(for='suppliercontact') Factory Contact
        input#suppliercontact(type='text' name='suppliercontact' pattern='[7][0-9]{8}' minlength='9', maxlength='9',  title='Enter a valid Ugandan number ' placeholder='e.g.,7XXXXXXXX ')
      .field
        label Payment Type
        select(name='paymentstatus')
          option(value='' disabled selected) Select payment Type
          option(value='paid') Paid
          option(value='credit') Credit


    button.btn-save(type='submit') Confirm &amp; edit  stock

