doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Supplier Credits
  link(rel='stylesheet' href='/css/supplier.css')
h1 Supplier Credits
p.summary 2 outstanding &middot; 9.24M UGX due
// Top Summary
.top-section
  .box
    h4 Record Credit Delivery
    p
      | Pending Payment
      br
      | 1
      br
      | 5.84M UGX
  .box
    h4 Partial Payment
    p
      | 1
      br
      | 3.40M UGX
  .box
    h4 Fully Paid
    p 1
  .box
    h4 Total Outstanding
    p 9.24M UGX
// Hima Cement
.card
  .header
    h3 Hima Cement
    span.status.partial Partial
  .info Delivery: 2026-04-05 &bull; Due: 2026-04-20 &bull; ID: SC001
  .amounts
    | Total Amount: 6,400,000 UGX
    br
    |         Amount Paid: 3,000,000 UGX
    br
    |         Balance: 3,400,000 UGX
  .progress Progress: 47% paid
  // <button class="view">View Items (1)</button>
  .text-center
    a.btn-record(href='supplier_form.html') + Record Payment
// Roofings Ltd
.card
  .header
    h3 Roofings Ltd
    span.status.pending Pending
  .info Delivery: 2026-04-08 &bull; Due: 2026-04-25 &bull; ID: SC002
  .amounts
    | Total Amount: 5,840,000 UGX
    br
    |         Amount Paid: 0 UGX
    br
    |         Balance: 5,840,000 UGX
  .progress Progress: 0% paid
  // <button class="view">View Items (2)</button>
  .text-center
    a.btn-record(href='supplier_form.html') + Record Payment
// Steel Suppliers
.card
  .header
    h3 Steel Suppliers
    span.status.paid Paid
  .info Delivery: 2026-04-01 &bull; ID: SC003
  .amounts
    | Total Amount: 3,025,000 UGX
    br
    |         Amount Paid: 3,025,000 UGX
    br
    |         Balance: 0 UGX
  .progress Progress: 100% paid
  // <button class="view">View Items (2)</button>
