<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Nyondo General Hardware</title>
<link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
<div class="hero">
  <div class="overlay">

    <h1>Nyondo General Hardware</h1>

    <p class="location">📍 Nansana, Wakiso</p>
 <p class="motto">"Uganda's trusted hardware partner"</p>
 <br>
   
    <div class="buttons">
    <a href="register.html" class="btn primary">Create Account</a>
    <br>
    <br>
    <br>
    <p>Already have an account?</p>
    <br>
    <br>
    <a href="login.html" class="btn">Login</a>
    </div>

  </div>
</div>

</body>
</html>



    
  