<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Payment</title>
    <link rel="stylesheet" href="/public/css/supplier_form.css" />
  </head>
  <body>
    <form action="/supply" method="post">
    <div class="container">
      <h2>Record Payment to Supplier</h2>
      <label for="supplier">Supplier Name</label>
      <input
        id="supplier"
        name="supplier"
        type="text"
        placeholder="Enter supplier name"
      />

      <label for="total">Total Amount (UGX)</label>
      <input
        id="total"
        type="number"
        name="total"
        placeholder="Enter total amount"
      />

      <label for="paid">Already Paid (UGX)</label>
      <input
        id="paid"
        type="number"
        name="paid"
        placeholder="Enter amount already paid"
      />

      <label for="balance">Balance Due (UGX)</label>
      <input
        id="balance"
        type="number"
        name="balance"
        placeholder="Enter remaining balance"
      />

      <label for="pay">Amount to Pay</label>
      <input
        id="pay"
        type="number"
        name="pay"
        placeholder="Enter amount to pay"
      />
      <p class="note">Ensure amount does not exceed balance</p>

      <label for="date">Payment Date</label>
      <input id="date" name="date" type="date" />

      <div class="buttons">
        <button class="cancel">Cancel</button>
        <button class="submit">Record Payment</button>
      </div>
    </div>
  </form>
  </body>
</html>
